parameters:
	level: 8
	paths:
		- src
		- multisite-content-sync.php
		- uninstall.php
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: true
