includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 8
	paths:
		- src
		- multisite-content-sync.php
		- uninstall.php
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: true
